body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 237, 237);
}

.testbox {
  background-color: aqua;
}


.container {
  max-width: 900px;
  margin: 1rem 2rem;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25em;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: rgb(211, 204, 204);
  height: 150px;
  transform-style: preserve-3d;
  transition: 550ms;
  transform: perspective(1000px) rotateY(var(--rotate-y,0))
  translateY(var(--translate-y, 0));
  cursor: pointer;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
  --rotate-y: 180deg
}

.card .front, .card .back {
  position: absolute;
  padding: 1rem;
  /* ḣides reversed items */
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  font-size: 2rem;
}

.card .front {
  font-size: 3rem;
  font-family: 'Traditional Arabic', Amiri;
}

.flashcard-options {
  margin-top: .5rem;

}

.flashcard-option {
  margin-top: .25rem;
  color: #555;
  font-size: .75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.topnav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #bedbb5
}

.navitem {
  text-decoration: none;
  color: #3C2F19;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  /* position: fixed; */
  height: 100%;
  overflow: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 6px 0 6px 18px;
  text-decoration: none;
}
.sidebar a:hover {
background-color: #b8b3b3;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  /* margin-left: 200px; */
  padding: 1px 16px;
  height: 1000px;
  /* max-width: 900px */
  grid-column-start: 2;
  grid-column-end: 3;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .sidebar a {
    display: none;
    text-align: center;
    float: none;
  }
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
}